<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<nav class="TopNav">
	<div class="TopNav_container">
		<section class="TopNav_left">
		</section>
		<section class="TopNav_right">
			<a href="#" class="TopNav_item">登录</a>
			<a href="#" class="Button u-cta u-small l-as-cen l-ml3">注册</a>
		</section>
	</div>
</nav>
</body>
</html>
