html,
body {
  font-size: 100%;
  margin: 0;
}
html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-rendering: optimizeLegibility;
}
body {
  background: #f7f7f7;
  color: #424242;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: auto;
}
a {
  color: #1c94c6;
  text-decoration: none;
  line-height: inherit;
}
.Button {
  display: inline-block;
  margin: 0;
  min-width: 100px;
  padding: 0.5rem;
  border: 1px solid;
  border-color: #3ec9cb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #3ec9cb;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: border-color, background-color, color;
  -moz-transition-property: border-color, background-color, color;
  -o-transition-property: border-color, background-color, color;
  -ms-transition-property: border-color, background-color, color;
  transition-property: border-color, background-color, color;
}
.Button.u-cta {
  border-bottom-color: #189697;
  border-bottom-width: thick;
}
.Button.u-small {
  font-size: 0.875rem;
  padding: 0.25rem;
}
.l-as-cen {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.TopNav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background-color: #3a3a3a;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
.TopNav section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.TopNav a {
  color: #fff;
}
.TopNav .TopNav_item {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 4.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.TopNav .TopNav_container {
  max-width: 1248px;
  width: 100%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 0.5em;
}
