html,body
	font-size 100%
	margin 0

html
	background white
	-webkit-font-smoothing antialiased
	height 100%
	text-rendering optimizeLegibility

body
	background #f7f7f7
	color #424242
	padding 0
	margin 0
	font-family "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
	font-weight 400
	font-style normal
	line-height 1
	position relative
	cursor auto
a
	color #1c94c6
	text-decoration none
	line-height inherit
.Button
	display inline-block
	margin 0
	min-width 100px
	padding .5rem
	border 1px solid
	border-color #3ec9cb
	border-radius 2px
	background #3ec9cb
	color #fff
	font-size 1rem
	font-weight 700
	line-height 1.5
	text-align center
	text-transform capitalize
	text-decoration none
	transition .3s ease
	transition-property border-color,background-color,color
.Button.u-cta
	border-bottom-color #189697
	border-bottom-width thick
.Button.u-small
	font-size .875rem
	padding .25rem
.l-as-cen
	align-self center